html,
body,
h1,
h2,
h3,
h4, 
button {
    font-family: "Jura", sans-serif;
}

html { background: #1e1b18; color: #c4cad0;}
.hidden {
    display: none;
    visibility: hidden;
}

header, 
footer {
    display: block;
    padding: 16px;
    text-align: center;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
}

.interactions button {
    margin-bottom: 0 4px 16px 4px;
    min-height: 24px;
    width: auto;
}
main.container {
    color: #1789FC;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7,min-content);
    margin: 0 auto;
    max-width: 640px;
}
.status {
    border-bottom: 1px dotted #1789FC;
    font-size: 16px;
    grid-row: 1;
    padding: 8px;
}
.status.connection {
    grid-column: 1 / 2;
    text-align: center;
}
.status.message {
    grid-column: 2 / 7;
    text-align: right;
}
.readout {
    color: #C4CAD0;
    font-size: 72px;
    grid-column: 1 / 4;
    line-height: 1;
    text-align: center;
    width: 100%;
}
.readout.humidity {
    grid-column: 4 / 7;
}
.readout span {
    display: inline-block;
    vertical-align: middle;
}
.readout svg {
    display: block;
    height: 100%;
    min-height: 24px;
    min-width: 24px;
    width: auto;
}
.readout svg path {
    fill: #c4cad0;
}
.readout.temperature, 
.readout.humidity {
    grid-row: 2;
}
.stats,
.graph {
    font-size: 14px;
}
.readout.temperature.stats,
.readout.humidity.stats {
    grid-row: 3;
}
.readout.temperature.graph,
.readout.humidity.graph {
    grid-row: 4
}

.temperature.toohigh,
.temperature.toohigh svg path {
    color: #db4437;
    fill: #db4437;
}
.temperature.toolow,
.temperature.toolow svg path {
    color: #1789FC;
    fill: #1789FC;
}
.humidity.toohigh,
.humidity.toohigh svg path {
    color: #1789FC;
    fill: #1789FC;
}
.humidity.toolow,
.humidity.toolow svg path {
    color: #c8963e;
    fill: #c8963e;
}

.connected {
    color: #006C67;
}

.disconnected {
    color: #db4437;
}